
.actress_image{
    grid-column: 2/3;
}
.actress_name{
    grid-column: 3/4;
    text-align: center;
}
.actor_image{
    grid-column: 4/5;
}

.actor_name{
    grid-column: 5/6;
    text-align: center;
}
.angel_image{
    grid-column: 6/7;

}
.angel_name{
    grid-column: 7/8;
    text-align: center;
}

.image{
    height: 150px;
    width: auto;
    justify-self: center;
    grid-row: 1/-1;
    border-style: groove;
}
.cast{
    line-height: 17px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {

.actress_name{
    grid-column: 2/3;
}

.actor_name{
    grid-column: 4/5;
}

.angel_name{
    grid-column: 6/7;
}

}
@media only screen and (max-width: 700px){
    .actress_image{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .actress_name{
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
    }
    .actor_image{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .actor_name{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
    }
    .angel_image{
        grid-column: 1/2;
        grid-row: 3/4;
    
    }
    .angel_name{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    .image{
        height: 120px;
        border-radius: 25px;   
    }
}