
.actress_image{
    grid-column: 2/3;
}
.actress_name{
    grid-column: 3/4;
    text-align: center;
}
.actor_image{
    grid-column: 4/5;
}

.actor_name{
    grid-column: 5/6;
    text-align: center;
}
.angel_image{
    grid-column: 6/7;

}
.angel_name{
    grid-column: 7/8;
    text-align: center;
}

.image{
    height: 150px;
    width: auto;
    justify-self: center;
    grid-row: 1/-1;
    border-style: groove;
}
.cast{
    line-height: 17px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}