.form{
    grid-column: 1/-1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.story_holder{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 200px ;
}
.story{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    grid-column: 2/-2;
    grid-row: 1/2;
    text-align: center;
    line-height: 25px;
    margin-top: 100px;

}
.again_button {
    grid-column: 3/4;
    grid-row: 6/7;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    align-items: center;
    justify-self: right;
    background: none;
    border: none;
    height: 70px;
    width: 100px;
}


.back_button{
    grid-column: 4/5;
    grid-row: 6/7;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    align-items: center;
    justify-self: left;
    background: none;
    border: none;
    height: 70px;
    width: 100px;
}
.again_image{
    height: 50px;
    width: 50px;
}
.title{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    grid-column: 1/-1;
    color: $color-two;
    justify-self: center;
    font-size: 50px;
    grid-row: 1/2;
    margin-top: 0;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
.title{
    font-size: 30px;
    margin-top: 30px;
}
.again_button{
    grid-column: 6/7;
    grid-row: 1/2;
    height: 90px;
    width: 61px;
    font-size: 13px;
    font-family: poppins;
}
.again_image{
    height: 25px;
    width: 25px;
    align-self: center;
    justify-self: center;
}

.back_button{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 90px;
    width: 61px;
    font-size: 13px;
    font-family: poppins;
}
}

@media only screen and (max-width: 700px) {
    .story_holder{
        grid-column: 1/-1;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
        
    }
    .story{
        grid-row: 1/2;
        margin-top: 125px;
    }
    .title{
        font-size: 20px;
        margin-top: 80px;
        text-align: center;
        grid-column: 2/-2;
    }
    .form{
        grid-column: 1/-1;
        justify-self: center;
        display: grid;
        grid-template-columns:20px 1fr 1fr 1fr 20px;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .back_button{
        margin-left: 50px;
    }
}