.form{
    grid-column: 1/-1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.story_holder{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
}
.story{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    grid-column: 2/-2;
    grid-row: 2/3;
    text-align: center;
    line-height: 25px;

}
.again_button {
    grid-column: 3/4;
    grid-row: 6/7;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    align-items: center;
    justify-self: right;
    background: none;
    border: none;
    height: 70px;
    width: 80px;
}


.back_button{
    grid-column: 4/5;
    grid-row: 6/7;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    align-items: center;
    justify-self: left;
    background: none;
    border: none;
    height: 70px;
    width: 80px;
}
.again_image{
    height: 38px;
    width: auto;
}
.title{
    font-family: 'Charm',Arial, Helvetica, sans-serif;
    grid-column: 1/-1;
    color: $color-five;
    justify-self: center;
    font-size: 50px;
    grid-row: 1/2;
    margin: 0;
    text-align: center;
    font-style: italic;
}
.button_holder{
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
}
@media only screen and (max-width: 1000px) {
.title{
    font-size: 48px;
   
}
.story{
    margin: 0;
    grid-row: 2/3;
}
.story_holder{
    grid-template-rows: auto auto auto auto auto auto;
}
.again_button{
    grid-column: 6/7;
    grid-row: 1/2;
    height: 50px;
    width: 61px;
    font-size: 13px;

}
.again_image{
    height: 25px;
    width: 25px;
    align-self: center;
    justify-self: center;
}

.back_button{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 50px;
    width: 61px;
    font-size: 13px;

}
.button_holder{
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 11px;
}
}

@media only screen and (max-width: 700px) {
      .story_holder{
            grid-template-rows: auto auto auto 1fr 1fr 1fr;
            grid-row: 1/2;
            grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
        
    }
    .story{
        grid-row: 2/3;
        margin-top: 0;
        align-self: center;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.4rem;
    }
    .title{
        font-size: 33px;
        text-align: center;
        grid-column: 2/-2;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .form{
        grid-column: 1/-1;
        justify-self: center;
        display: grid;
        grid-template-columns:20px 1fr 1fr 1fr 20px;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .button_holder{
        grid-column: 1/-1;
        grid-row: 3/4;
        justify-self: center;
    }
}