//Colors
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;

$color-one:#C91A3A;
$color-two:#007D17;
$color-three:#1AC939;
$color-four:#FF3A5E;
$color-five:#7D081D;

$font-one: 'Lobster', cursive;
$font-two: 'Lobster Two', cursive;
$font-three:'Oleo Script', cursive;
$font-four:'Emilys Candy', cursive;
$font-five:'Galada', cursive;
$font-six:'Kotta One', serif;
$font-seven:'Pacifico', cursive;
$font-eight:'Courgette', cursive;
